body 
{
    
    background: #1689da;
   margin: 0 ;

}
.container
{
    
    width: 70%;
    margin: 0 auto;
    background: #fff;
    border: 2px solid black ;
    box-shadow: 0px 5px 10px 10px;
    
}
.header
{
    
    padding: 29px 49px 30px 62px;
    border: 2px solid black;
    
}
#image_header
{
      width: 50vw;
    height: auto;
    max-width: none;
    max-height: 100vh;
    object-fit: contain;
}
.main
{
    padding:  0px 0px 0px 23px;
}

#form input
{
   width: 80%;
    height: 20px;
    border-radius: 5px;
    background: #c1c2bf;
} 

#form #send 
{
   width: 80%;
    height: 20px;
    border-radius: 5px;
    background: #c1c2bf;
} 


#form #send

{
    
    height: 25px;
    background: #1e97ecbf;
}
